@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1 class="text-success">Welcome back, @context.User.Identity.Name!</h1>
        <p class="lead">We're glad you're here. Explore our latest products or check your cart.</p>
        <a href="/shop" class="btn btn-primary me-2">Browse Products</a>
        <a href="/cart" class="btn btn-outline-secondary">View Cart</a>
    </Authorized>
    <NotAuthorized>
        <h1 class="text-primary">Welcome to ShopEase!</h1>
        <p class="lead">Sign in to start shopping or create a new account to join us.</p>
        <a href="/Identity/Account/Login" class="btn btn-primary me-2">Log In</a>
        <a href="/Identity/Account/Register" class="btn btn-outline-secondary">Register</a>
    </NotAuthorized>
</AuthorizeView>
